@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
}
body, html {
	width: 100vw;
	height: 1000vh;
	
	font-family: "El Messiri", sans-serif;
	font-size: 20px;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

:root {
	--main-color: #1B5E20;
	--main-hover-color: #43A047;
	--main-active-color: #33691E;
	--small-shadow:  0 4px 2px -2px rgba(0,0,0,.5);
}

/*up button*/
#up {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -100px;
	bottom: 10px;
	z-index: 999;
	padding: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#up > svg {
	height: 40px;
	width: 40px;
	fill: white;
}

/*header*/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*logo section*/
#logoPics {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15vh;
	border: none;
	box-shadow: var(--small-shadow);
}
#logoPics > img {
	z-index: 0;
	position: absolute;
}
#logo {
    /* font */
	font-family: "Ruwudu", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 44px;
	text-decoration: none;
	
	/* settings */
	z-index: 420;  
	color: var(--main-color);
}
#logo:hover {
	text-decoration: underline;
	color: var(--main-hover-color);
}
#logo:active {
	transition: none;
	color: var(--main-active-color);
}
 
/* navigation */
#navigation {
	z-index: 999;
	display: flex;
	justify-content: space-evenly;
	background: white;
	border: solid 1px #BDBDBD;
	border-bottom: none;
	width: 85%;
	height: 5vh;
	box-shadow: var(--small-shadow);
}
#navigation > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	list-style: none;
}
#navigation > ul > li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 25px;
	height: 100%;
	cursor: pointer;
}
#navigation > ul > li > a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	color: black;
	text-decoration: none;
}
#navigation > ul > li:hover, #navigation > ul > li > a:hover {
	background:var(--main-hover-color);
	color: white;
}
#navigation > ul > li:active, #navigation > ul > li > a:active {
	transition: none;
	background: var(--main-active-color);
	color: white;
}
li > a > svg {
	margin-right: 5px;
	fill: black;
}
li > svg {
	padding: 15px;
}
#navigation > ul > li > a:hover > svg, li:hover > svg {
	fill: white;
	transform: rotate(180deg);
}
li:hover > svg {
	transform: rotate(0deg);
}

/* main */
main {
	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	justify-content: center;
    margin-top: 35px;
	width: 100vw;
	height: 80vh;
} 
/* hero section 
 */
#hero-section {
	display: flex;
  	align-items: center;
	  justify-content: center;
  	flex-wrap: wrap;
	width: 65%;
	text-align: left;
}
#hero-section > #text {
	width: 40%;
}
#hero-section > #text > h1 {
	margin-top: 40px;
	font-size: 56px;
}
#hero-section > #text > h1, #hero-section > #text > h2, #hero-section > #text > p {
	margin-bottom: 30px;
} 
#hero-section > img {
	margin-right: 80px;
	border-bottom: solid 5px var(--main-color);
}
#hero-section > img:hover {
	border-bottom: solid 5px var(--main-hover-color);
}
button {
	border: none;
	border-radius: 10px;
	background: var(--main-color);
	color: white;
	padding: 6px 15px;
	cursor: pointer;
	margin: 10px;
	
	font-family: "El Messiri", sans-serif;
	font-size: 20px;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
button:hover {
	border-radius: 20px;
	background: var(--main-hover-color);
}
button:active {
	transition: none;
	border-radius: 15px;
	background: var(--main-active-color);
}

@media screen and (max-width: 1180px) {
	body, html {
		font-size: 14px;
	}
	#navigation > ul {
		display: none;
	}
	#navigation > #icons {
		display: flex;
	}
	main {
		display: flex;
		justify-content: center;
		height: 60vh;
		width: 100vw;
	}
	#hero-section {
		text-align: center;
		width: 80vw;
		height: 60vh;
	}
	#hero-section > #text {
		margin: 0;
		line-height: 35px;
		width: 100%;
	}
	#hero-section > img {
		margin: 0;
		height: 65vh;
	}
	#hero-section > #text > h1, #hero-section > #text > h2, #hero-section > #text > p {
		margin-bottom: 15px;
	}
	#hero-section > #text > h1 {
		margin: 40px 0 0 0;
		font-size: 30px;
	}
}